@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --primary:#001D3D;
    --background:#000814;
    --secondary:#003566;
    --text:#FFC300;
    --textSecondary:white;
    --shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --border:#ffd60a;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

  /* .mentors{
    display: flex;
  } */

  .mentors h2{
    font-size: 4rem;
    color: var(--border);
    margin: 10vh;
    text-align: center;
    transform: scaleY(1.5);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

  .mentors .list{
    display: flex;
    list-style: none;
    overflow-x: scroll;
    -ms-overflow-style:none;
    scrollbar-width:none;
    padding-left: 6vw;
    height: 75vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

  .mentors .list::-webkit-scrollbar{
    display: none;
  }

  .mentors .cards{
    height: max-content
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

  .mentors .card{
    width: 25vw;
    height: 90%;
    overflow-y: visible;
    position: relative;
    margin: 1vw 1vw 1vw 1.5vw;
    text-align: center;
    border-radius: 10px;
    padding: 1vw;
    border-color: var(--border);
    transition: 0.5s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mentors .card img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mentors .card div{
  z-index: 20;
  background:transparent;
  bottom: 0;
  position: absolute;
  background-image: linear-gradient(#0c0c0c5e,black);
  width: 100%;
  left: 0;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;



font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.mentors .card div h4{
  background: transparent;
  color: white;
  text-align: left;
  font-size: 2rem;
  margin-left: 20px;
  transform: scaleY(1.3);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;



font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.mentors .card div p{
  background: transparent;
  color:var(--text);
  font-size: 1.2rem;
  margin-left: 20px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;



font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.mentors .link{
  position: absolute;
  font-size: 2.5rem;
  font-weight: 100;
  right: 20px;
  bottom: 12px;
  background:transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;



font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.mentors .link i{
  transform: rotate(-40deg);
  color: var(--border);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;



font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@media screen and (max-width:1024px) {
  .mentors .card div h4{
    font-size: 1.5rem;
  }
  
  .mentors .card div p{
    font-size: 1rem;
  }
  
  .mentors .link{
    font-size: 2rem;
  }

  .mentors .card{
    width: 30vw;
  }
}

@media screen and (max-width:768px){
  .mentors .card div h4{
    font-size: 1.2rem;
  }
  
  .mentors .card div p{
    font-size: 0.8rem;
  }
  
  .mentors .link{
    font-size: 1.5rem;
  }

  .mentors .card{
    width: 33vw;
  }
  .mentors .list{
    height: 70vh;
  }
}

@media screen and (max-width:425px){
  .mentors .card{
    width: 80vw;
  }
  .mentors h2{
    font-size: 2.6rem;
    text-align: center;
  }
}
